.f__h1{font-size:88rem; font-weight:400; line-height:0.95; letter-spacing:-1.32rem;}
.f__h2{font-size:48rem; font-weight:400; line-height:1.1; letter-spacing:-1.32rem;}
.f__h3{font-size:30rem; font-weight:400; line-height:1.1; letter-spacing:-1.32rem;}
.body__text{font-size:16rem;}
.f__uppercase{text-transform:uppercase;}
.f__lowercase{text-transform: none;}
.text__center{text-align:center;}
.spacing__80{padding-top:80rem;}
.spacing__64{padding-top:64rem;}
.spacing__56{padding-top:56rem;}
.spacing__40{padding-top:40rem;}
.spacing__32{padding-top:32rem;}
.spacing__24{padding-top:24rem;}
.spacing__20{padding-top:20rem;}
.spacing__16{padding-top:16rem;}
.spacing__08{padding-top:8rem;}

.spacing__bottom__80{margin-bottom:80rem;}
.spacing__bottom__64{margin-bottom:64rem;}
.spacing__bottom__56{margin-bottom:56rem;}
.spacing__bottom__40{margin-bottom:40rem;}
.spacing__bottom__32{margin-bottom:32rem;}
.spacing__bottom__24{margin-bottom:24rem;}
.spacing__bottom__20{margin-bottom:20rem;}
.spacing__bottom__16{margin-bottom:16rem;}
.spacing__bottom__08{margin-bottom:8rem;}


.hr{border-right: 1px solid rgb(51, 51, 51,0.1);}

.heading__medium{font-size:16rem;;}
.l__panel__grid{display:flex; flex-wrap:wrap; gap:var(--spacing-80) var(--grid-num);}
.l__clear{display:block;}

.spacing__right__120__pc{padding-right:var(--spacing-120);}
.spacing__right__60__pc{padding-right:60rem;}
.spacing__right__32{padding-right:var(--spacing-32);}
.spacing__left__32{padding-left:var(--spacing-32);}
.m__content__card{padding-right:var(--spacing-120); padding-top:var(--spacing-20);}
.m__content__box{position:relative;}
.content__wid310{max-width:310px;}
.content__wid310__center{max-width:310px; margin:0 auto;}
.content__wid415{max-width:415px; margin:0 auto;}
.content__wid500{max-width:500px; margin:0 auto;}
.content__wid560{max-width:560px; margin:0 auto;}
.content__wid600{max-width:600px; margin:0 auto;}
.content__wid650{max-width:650px; margin:0 auto;}
.content__wid700{max-width:700px; margin:0 auto;}
.content__wid740{max-width:740px; margin:0 auto;}
.content__wid180{max-width:180px;}
.content__wid740__left{max-width:740px;}
.col__reverse{flex-direction:row-reverse;}
.btn__wrapp__global{display:flex; align-items:flex-end; justify-content:space-between;}
.btn__wrapp__global a{width:100%; color:var(--font-color-base); font-size:var(--link-font-size); font-weight:var(--link-font-weight); text-transform:var(--link-text-transform); letter-spacing:var(--link-letter-spacing); display:flex; align-items:center; justify-content:center;}
.btn__wrapp__global a:hover{opacity:0.7;}
.single__link{color:var(--link-color); font-family:var(--font-family-sigma); font-size:var(--link-font-size); font-weight:var(--link-font-weight); text-transform:var(--link-text-transform); letter-spacing:var(--link-letter-spacing); position:relative; display:flex; align-items:center;  column-gap:5rem;}
.single__link a{color:var(--link-color);}
.single__link a:hover{opacity:0.7;}
.align__center{margin-left:auto; margin-right:auto;}
.fit__content{width:fit-content;}
.btn__wrapp__global{display:flex; align-items:flex-end; justify-content:space-between;}
.btn__wrapp__global a{width:100%; color:var(--font-color-base); font-size:var(--link-font-size); font-weight:var(--link-font-weight); text-transform:var(--link-text-transform); letter-spacing:var(--link-letter-spacing); display:flex; align-items:center; justify-content:center;}
.btn__wrapp__global a:hover{opacity:0.7;}
.l__grid{display:flex; flex-wrap:wrap; gap:0 var(--grid-num);}
.l__grid__mid{display:flex; flex-wrap:wrap; gap:3rem var(--grid-num);}
.flex__column{flex-direction:column;}
.font__size__base{font-size:13rem;}
.f__ul{color:var(--font-color-base); font-family:var(--font-family-sigma); font-size:var(--link-font-size); font-weight:var(--link-font-weight);  letter-spacing:var(--link-letter-spacing);}
.text__color__secondary{color:var(--font-color-secondary);}
.text__color__base{color:var(--font-color-base);}
.l__idt{padding:0 var(--idt-num);}
.content__between{justify-content:space-between;}
.m__txt__link{text-decoration:none; font-family:"Sigma Sans"; font-size:13rem; font-weight:400; line-height:1.25; letter-spacing:0.26rem; cursor:pointer; text-transform:uppercase; position:relative; transition:all 0.1s linear;}
.m__txt__link:hover{opacity:0.7;}
.txt__link__cancel a{display:flex; align-items:center;}
.txt__link__cancel a:after{width:12rem; height:12rem; margin-left:var(--spacing-02); background-image: url(../assets/images/icn_cancel.svg); background-repeat:no-repeat; background-position:center; background-size:100%; content: "";}
.display__inline{display:inline-block;}


.c__product__listing{--grid-num:0; border-top:1px solid rgb(51, 51, 51,0.1); margin-top:var(--spacing-80);}
.m__product__card{position:relative;}
.m__product__card.listing__card{padding:var(--spacing-16) var(--spacing-16) var(--spacing-32) var(--spacing-16); border-right:1px solid rgb(51, 51, 51,0.1); border-bottom:1px solid rgb(51, 51, 51,0.1);}
.m__product__card__img{aspect-ratio:4 / 5; aspect-ratio:1 / 1; display:flex; align-items:center; justify-content:center; position:relative;}
.m__product__card a{display:flex; flex-direction:column; height:100%; color:var(--font-color-base);}
.spacing__auto{margin-top:auto;}
.m__mood__product a{color:#fff;}
.m__mood__product a:hover{opacity:0.7;}
.m__product__card__body{padding:var(--spacing-16) var(--spacing-16) var(--spacing-32); position:absolute; color:#FFF; width:100%; left:0; bottom:0;}
.large__mood__product{width:100%;}
.m__mood__product .m__product__card__img{aspect-ratio:unset;}

.m__product__card.new__product .m__product__card__img:before{content:'New'; position:absolute; top:0; left:0; font-family:"Sigma Sans"; font-size:13rem; font-weight:400; line-height:1.25; letter-spacing:0.26rem; text-transform:uppercase;}
.m__product__card.sale__product .m__product__card__img:before{content:'Sale'; position:absolute; top:0; left:0; font-family:"Sigma Sans"; font-size:13rem; font-weight:400; line-height:1.25; letter-spacing:0.26rem; text-transform:uppercase; color:rgba(200, 0, 0, 1);}



.c__filter__bar__btn{cursor:pointer; position:relative; padding-right:12rem;}
.c__filter__bar__btn:before{width:7rem; height:1px; background-color:var(--font-color-base); transform-origin:center;  transition:all 0.3s linear; position:absolute; right:0; top:0; bottom:0; margin:auto; content:'';}
.c__filter__bar__btn:after{width:1rem; height:7rem; background-color:var(--font-color-base); transform-origin:center;  transition:all 0.3s linear; position:absolute; right:3rem; top:0; bottom:0; transform:rotate(90deg); margin:auto; content:'';}
.active__filter__btn:after{transform:rotate(0deg);}



.m__filter__selector{position:relative; cursor:pointer;}
.m__filter__selector input{width:0; height:0; margin:0; position:absolute; top:0; left:0;}
.m__filter__selector input:checked + span{border-bottom:1px solid;}
.m__filter__selector:has( input:disabled){color:var(--font-color-disabled);}
.m__filter__selector:has( input:not(:checked)):hover{opacity:0.6;}

.c__story__block{display:flex; flex-wrap: wrap;}
.c__story__block__body{margin-right:auto; width:calc(((100% - 176rem) / 12) * 3 + (2 * var(--grid-num)));}
.c__story__block__img{width:calc(((100% - 176rem) / 12) * 8 + (7 * var(--grid-num)));}
.img__left .c__story__block__body{order:2; margin-left:auto; margin-right:0px;}

.m__iframe, .m__video{position:relative; aspect-ratio:704 / 396;}
.m__iframe iframe,.m__video video {position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; background-repeat:no-repeat; background-position:center; background-size:cover;}
.m__iframe.--back-grey iframe,
.m__video.--back-grey video {background-color:rgb(0, 0, 0,0.03);}
.m__iframe,.m__video.--type-cover video {-o-object-fit:cover; object-fit:cover;}

.pic__large{aspect-ratio: 4 / 5;}
.pic__large img{height:100%; object-fit:cover;}

.aligned__equal{margin-top:auto;}

.c__specList > * {padding-top:var(--spacing-08); padding-bottom:var(--spacing-08); border-top:1px solid var(--font-color-secondary);}
.auto__width{width:fit-content;}
.m__btn{display:flex; justify-content:center; align-items:center; padding:var(--spacing-12)var(--spacing-16); background-color:var(--font-color-base); color:#fff; font-family:var(--font-family-sigma); font-size:13rem; line-height:1.25; text-transform:uppercase; letter-spacing:0.26rem; transition:all0.1slinear; cursor:pointer; text-transform:uppercase; text-decoration:none; border:0px; margin-top:-20rem;}
.m__btn:hover{opacity:0.9;}

.bulet__list{list-style:disc inside; display:flex; flex-direction:column; gap:3rem 0;}

.m__ul li{position:relative; padding-left:0.6em;}
.m__ul li:before{content:" "; position:absolute; top:10rem; left:0; height:3.5rem; width:3.5rem; border-radius:10rem; background-color:#333}
.m__ul li a{text-decoration:underline;}

.m__ol{counter-reset:number 0; list-style:none;}
.m__ol li{position:relative; padding-left:1.5em;}
.m__ol li a{text-decoration:underline;}
.m__ol li:before{counter-increment:number 1; content:counter(number) "."; position:absolute; top:0; left:0;}

.spacing__left__16{padding-left:var(--spacing-16);}
.m__txt__link__caps{text-transform:capitalize; font-size:16rem;}

.c__story__block__small__body{margin-right:auto; width:calc(((100% - 176rem) / 12) * 5 + (7 * var(--grid-num)));}
.c__story__block__small__img{width:calc(((100% - 176rem) / 12) * 5 + (7 * var(--grid-num)));}
.img__left .c__story__block__small__body{order:2; margin-left:auto; margin-right:0px;}

