.l__line__1{width:calc(((100% - 176rem) / 12) * 1 + (0 * var(--grid-num))); margin:0 auto;}
.l__line__2{width:calc(((100% - 176rem) / 12) * 2 + (1 * var(--grid-num))); margin:0 auto;}
.l__line__3{width:calc(((100% - 176rem) / 12) * 3 + (2 * var(--grid-num))); margin:0 auto;}
.l__line__4{width:calc(((100% - 176rem) / 12) * 4 + (3 * var(--grid-num))); margin:0 auto;}
.l__line__5{width:calc(((100% - 176rem) / 12) * 5 + (4 * var(--grid-num))); margin:0 auto;}
.l__line__6{width:calc(((100% - 176rem) / 12) * 6 + (5 * var(--grid-num))); margin:0 auto;}
.l__line__7{width:calc(((100% - 176rem) / 12) * 7 + (6 * var(--grid-num))); margin:0 auto;}
.l__line__8{width:calc(((100% - 176rem) / 12) * 8 + (7 * var(--grid-num))); margin:0 auto;}
.l__line__9{width:calc(((100% - 176rem) / 12) * 9 + (8 * var(--grid-num))); margin:0 auto;}
.l__line__10{width:calc(((100% - 176rem) / 12) * 10 + (9 * var(--grid-num))); margin:0 auto;}
.l__line__11{width:calc(((100% - 176rem) / 12) * 11 + (10 * var(--grid-num))); margin:0 auto;}
.l__line__12{width:calc(((100% - 176rem) / 12) * 12 + (11 * var(--grid-num))); margin:0 auto;}

.panel__1 > * {width: 100%;}
.panel__2 > * {width: calc((100% / 2) - (var(--grid-num) / 2));}
.panel__3 > * {width: calc((100% / 3) - (var(--grid-num) * 2 / 3));}
.panel__4 > * {width: calc((100% / 4) - (var(--grid-num) * 3 / 4));}
.panel__5 > * {width: calc((100% / 5) - (var(--grid-num) * 4 / 5));}
.panel__6 > * {width: calc((100% / 6) - (var(--grid-num) * 5 / 6));}
.panel__7 > * {width: calc((100% / 7) - (var(--grid-num) * 6 / 7));}
.panel__8 > * {width: calc((100% / 8) - (var(--grid-num) * 7 / 8));}
.panel__9 > * {width: calc((100% / 9) - (var(--grid-num) * 8 / 9));}
.panel__10 > * {width: calc((100% / 10) - (var(--grid-num) * 9 / 10));}
.panel__11 > * {width: calc((100% / 11) - (var(--grid-num) * 10 / 11));}
.panel__12 > * {width: calc((100% / 12) - (var(--grid-num) * 11 / 12));}

@media screen and (min-width: 1201px) {
.spacing__80__pc{padding-top:80rem;}
.spacing__64__pc{padding-top:64rem;}
.spacing__56__pc{padding-top:56rem;}
.spacing__48__pc{padding-top:48rem;}
.spacing__40__pc{padding-top:40rem;}
.spacing__32__pc{padding-top:32rem;}
.spacing__24__pc{padding-top:24rem;}
.spacing__20__pc{padding-top:20rem;}
.spacing__16__pc{padding-top:16rem;}
.spacing__12__pc{padding-top:12rem;}
.spacing__08__pc{padding-top:8rem;}
.panel__1__pc > * {width:calc((100% / 1.5) - (var(--grid-num) / 1.5));}
.panel__2__pc > * {width:calc((100% / 2) - (var(--grid-num) / 2));}
.panel__3__pc > * {width:calc((100% / 3) - (var(--grid-num) * 2 / 3));}
.panel__4__pc > * {width:calc((100% / 4) - (var(--grid-num) * 3 / 4));}
.panel__5__pc > * {width:calc((100% / 5) - (var(--grid-num) * 4 / 5));}
.panel__6__pc > * {width:calc((100% / 6) - (var(--grid-num) * 5 / 6));}
.panel__7__pc > * {width:calc((100% / 7) - (var(--grid-num) * 6 / 7));}
.panel__8__pc > * {width:calc((100% / 8) - (var(--grid-num) * 7 / 8));}
.panel__9__pc > * {width:calc((100% / 9) - (var(--grid-num) * 8 / 9));}
.panel__10__pc > * {width:calc((100% / 10) - (var(--grid-num) * 9 / 10));}
.panel__11__pc > * {width:calc((100% / 11) - (var(--grid-num) * 10 / 11));}
.panel__12__pc > * {width:calc((100% / 12) - (var(--grid-num) * 11 / 12));}


.flex__column__pc{flex-direction:column;}
.c__product__listing > * {width:calc(100% / 3);}
.large__mood__product{width:100%;}
.content__width700__pc{max-width:700px; margin:0px auto;}
.content__width560__pc{max-width:560px; margin:0px auto;}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.content__width500__pc{max-width:500px; margin:0px auto;}

.l__text__pc{padding-right:var(--spacing-120);} 
.l__wid500__pc{max-width:500rem; margin:0 auto;}
.l__wid560__pc{max-width:560rem;margin:0 auto;} 
.l__wid600__pc{max-width:600rem;margin:0 auto;} 
.l__wid700__pc{max-width:700rem;margin:0 auto;} 
.l__wid1184__pc{max-width:1184rem;margin:0 auto;} 
.l__line__1__pc{width:calc(((100% - 176rem) / 12) * 1 + (0 * var(--grid-num))); margin:0 auto;} 
.l__line__2__pc{width:calc(((100% - 176rem) / 12) * 2 + (1 * var(--grid-num))); margin:0 auto;} 
.l__line__3__pc{width:calc(((100% - 176rem) / 12) * 3 + (2 * var(--grid-num))); margin:0 auto;} 
.l__line__4__pc{width:calc(((100% - 176rem) / 12) * 4 + (3 * var(--grid-num))); margin:0 auto;} 
.l__line__5__pc{width:calc(((100% - 176rem) / 12) * 5 + (4 * var(--grid-num))); margin:0 auto;} 
.l__line__6__pc{width:calc(((100% - 176rem) / 12) * 6 + (5 * var(--grid-num))); margin:0 auto;} 
.l__line__7__pc{width:calc(((100% - 176rem) / 12) * 7 + (6 * var(--grid-num))); margin:0 auto;} 
.l__line__8__pc{width:calc(((100% - 176rem) / 12) * 8 + (7 * var(--grid-num))); margin:0 auto;} 
.l__line__9__pc{width:calc(((100% - 176rem) / 12) * 9 + (8 * var(--grid-num))); margin:0 auto;} 
.l__line__10__pc{width:calc(((100% - 176rem) / 12) * 10 + (9 * var(--grid-num))); margin:0 auto;} 
.l__line__11__pc{width:calc(((100% - 176rem) / 12) * 11 + (10 * var(--grid-num))); margin:0 auto;} 
.l__line__12__pc{width:calc(((100% - 176rem) / 12) * 12 + (11 * var(--grid-num))); margin:0 auto;}
.l__grid .l__line__1__pc, .l__grid .l__line__2__pc, .l__grid .l__line__3__pc, .l__grid .l__line__4__pc, .l__grid .l__line__5__pc, .l__grid .l__line__6__pc, .l__grid .l__line__7__pc, .l__grid .l__line__8__pc, .l__grid .l__line__9__pc, .l__grid .l__line__10__pc, .l__grid .l__line__11__pc, .l__grid .l__line__12__pc{margin:0;}


.center__spacing__half__pc{padding-right:26rem; padding-left:26rem;}
.left__spacing__pc{padding-left:104rem;}

.c__search__list.l__grid li{margin-top: 0;}
.c__search__result__entry__grid {gap: 0 256rem;}
.c__search__result__entry__grid > * {flex-basis: 464rem;}
.l__grid__pc{display:flex; flex-wrap:wrap;gap:0 var(--grid-num);}
.panel__child__1__pc{width: calc(((100% - 176rem) / 12) * 1 + (0 * var(--grid-num)));}
.panel__child__2__pc{width: calc(((100% - 176rem) / 12) * 2 + (1 * var(--grid-num)));}
.panel__child__3__pc{width: calc(((100% - 176rem) / 12) * 3 + (2 * var(--grid-num)));}
.panel__child__4__pc{width: calc(((100% - 176rem) / 12) * 4 + (3 * var(--grid-num)));}
.panel__child__5__pc{width: calc(((100% - 176rem) / 12) * 5 + (4 * var(--grid-num)));}
.panel__child__6__pc{width: calc(((100% - 176rem) / 12) * 6 + (5 * var(--grid-num)));}
.panel__child__7__pc{width: calc(((100% - 176rem) / 12) * 7 + (6 * var(--grid-num)));}
.panel__child__8__pc{width: calc(((100% - 176rem) / 12) * 8 + (7 * var(--grid-num)));}
.panel__child__9__pc{width: calc(((100% - 176rem) / 12) * 9 + (8 * var(--grid-num)));}
.panel__child__10__pc{width: calc(((100% - 176rem) / 12) * 10 + (9 * var(--grid-num)));}
.panel__child__11__pc{width: calc(((100% - 176rem) / 12) * 11 + (10 * var(--grid-num)));}
.panel__child__12__pc{width: calc(((100% - 176rem) / 12) * 12 + (11 * var(--grid-num)));}
}




@media(max-width:1200px){

.spacing__80__sp{padding-top:80rem;}
.spacing__64__sp{padding-top:64rem;}
.spacing__56__sp{padding-top:56rem;}
.spacing__40__sp{padding-top:40rem;}
.spacing__32__sp{padding-top:32rem;}
.spacing__24__sp{padding-top:24rem;}
.spacing__20__sp{padding-top:20rem;}
.spacing__16__sp{padding-top:16rem;}
.spacing__08__sp{padding-top:8rem;}
.panel__1__pc > *, .panel__2__pc > *, .panel__3__pc > *, .panel__4__pc > *, .panel__5__pc > *, .panel__6__pc > *, .panel__7__pc > *, .panel__8__pc > *, .panel__9__pc > *, .panel__10__pc > *, .panel__11__pc > *, .panel__12__pc > * {width: 100%;}
.panel__2__sp > * {width:calc((100% / 2) - (var(--grid-num) / 2));}

.l__wid{max-width:none;}
.l__line__all{width:100%;}
.l__line__1-sp{width:calc(((100% - 24rem) / 4) * 1 + (0 * var(--grid-num))); margin:0 auto;}
.l__line__2-sp{width:calc(((100% - 24rem) / 4) * 2 + (1 * var(--grid-num)));margin:0 auto;}
.l__line__3-sp{width:calc(((100% - 24rem) / 4) * 3 + (2 * var(--grid-num)));margin:0 auto;}
.l__line__4-sp{width:calc(((100% - 24rem) / 4) * 4 + (3 * var(--grid-num)));margin:0 auto;}


.text__center__sp{text-align:center;}
.category__list{gap:var(--spacing-32)}
.category__list li{align-items:flex-start;}
.c__product__listing > * {width:100%;}
.m__product__card.listing__card{padding:var(--spacing-16) var(--spacing-16) var(--spacing-64); border-right:0;}
.m__mood__product .m__product__card__body{padding:var(--spacing-16);}
.l__panel__grid{row-gap: var(--spacing-64);}

.l__grid__pc{display:block;}

.f__h1{font-size:36rem;}

.column__direction{flex-direction:column-reverse;}
.c__story__block__body{width:100%;}
.c__story__block__img{width:100%;}

.m__iframe, .m__video{position: relative; aspect-ratio:358 / 201;}
.spacing__right__0__sp{padding-right:0;}

.navbar__top{box-shadow:none;}
.navbar__top .nav__info__right{margin-left:auto; margin-right:0px;}
.navbar__top .navbar-toggler{margin-right:0px; margin-left:0px; padding:0px; height:100%; border:0px; color:var(--link-color); font-size:13rem; font-family:var(--font-family-sigma); font-size:var(--link-font-size); font-weight:var(--link-font-weight); text-transform:var(--link-text-transform); letter-spacing:var(--link-letter-spacing);}
.navbar .navbar-collapse{height:100%;}
.navbar .navbar-collapse{position:fixed; right:-100%; background:#fefefd; height:100%; top:0px; z-index:5;
-webkit-transition:right .3s ease 0s; -moz-transition:right .3s ease 0s; -o-transition:right .3s ease 0s; transition:right .3s ease 0s;}
.header__bar{height:var(--header-height); display:flex; align-items:center; justify-content:space-between; padding:0 var(--spacing-16);}
.header__bar .navbar__toggler__btn{margin-right:0px; margin-left:0px; padding:0px; height:22px; border:0px; color:var(--link-color); font-size:13rem; font-family:var(--font-family-sigma); font-size:var(--link-font-size); font-weight:var(--link-font-weight); text-transform:var(--link-text-transform); letter-spacing:var(--link-letter-spacing); background-color:transparent;}
.navbar .show{right:0px; width:100%; transition:right .3s ease 0s;}
.navbar__top .navbar__nav{height:unset; justify-content:unset; padding-top:var(--spacing-48); padding-bottom:var(--spacing-08);}
.navbar__top .navbar__nav li{margin:0px 0px !important; display:block;}
.navbar__top .navbar__nav li a{color:var(--link-color); padding:var(--spacing-08) var(--spacing-16); display:block; width:100%; border-bottom:0px;  height:auto; font-family:'Sigma Serif Text'; font-size:16rem;}
.navbar__top .navbar__nav li:first-child a{padding-left:var(--spacing-16);}
.navbar__top .navbar__nav li a:after{display:none;}
.navbar__top .navbar__nav li a .icon__box{width:15rem; height:15rem; position:absolute; top:0px; bottom:0px; margin:auto 0px; right:16rem; display:flex;}
.navbar__top .navbar__nav li a .icon__box:before{width:7rem; height:1px; background-color:var(--font-color-base); transform-origin:center;  transition:all 0.3s linear; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; content:'';}
.navbar__top .navbar__nav li a .icon__box:after{width:1rem; height:7rem; background-color:var(--font-color-base); transform-origin:center;  transition:all 0.3s linear; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; content:'';}
.navbar__top .navbar__nav li a.show .icon__box:after{transform:rotate(90deg);}
.navbar__top .navbar__nav li.dropdown__wrap ul.show{display:block !important; background-color:transparent; min-width:unset; width:100%; border:0px; border-radius:0px; gap: var(--spacing-04); padding:var(--spacing-16) var(--spacing-16);} 
.navbar__top .navbar__nav li.dropdown__wrap:hover ul.dropdown__menu{display:none;}
.navbar__top .navbar__nav li.dropdown__wrap ul.dropdown__menu li{padding:0px; margin:0px;}
.navbar__top .navbar__nav li.dropdown__wrap ul.dropdown__menu li a{background-color:transparent; padding:0px; border:0px; font-size:13rem; font-family:var(--font-family-sigma); font-size:var(--link-font-size); font-weight:var(--link-font-weight); text-transform:var(--link-text-transform); letter-spacing:var(--link-letter-spacing);}
.navbar__top .navbar__nav li.dropdown__wrap ul.dropdown__menu li a:focus{outline:0px; box-shadow:none;}
.navbar__top .navbar__nav li.dropdown__wrap ul.dropdown__menu li a:after{display:none;}
.navbar__top .nav__info__right .user__info{display:none;}
.nav__items__small__device{display:flex; padding:0 var(--spacing-16) var(--spacing-08);}
.nav__items__small__device a{font-family:'Sigma Serif Text'; font-size: 16rem; text-transform:var(--font-case-base);}
.nav__search__small__device{display:block;}

.slide__menu__expanded{max-width:unset;}


.large__block{padding-top: var(--spacing-96);}
.heading__wrap h2 br{display:none;}
.large__panel__grid{flex-direction:column;}
.content__card{width:100%;}
.large__block__color__bg{padding-top:var(--spacing-64)}
.product__pec__block__tab{position:unset; padding-bottom:0;}
.txt__card{gap:0;}
.txt__card ul{padding-top:var(--spacing-64);}
.products__grid .slick-track{column-gap:unset;}
.product__card{border:0px;}

.cover__block{height: calc(100vh - var(--header-height));}
.cover__block__headline h2{font-size:36rem;}



.panel__2__large{flex-direction:column-reverse; gap:var(--spacing-24);}
.flex__column{flex-direction:column;}
.slider__thumb{display:none;}
.product__slider__content .slick-dots{margin-top:0; display:flex !important;}

.awesome__slider .slick-arrow{display:none;}
.awesome__slider .slick-dots{margin-top:0; display:flex !important;}
.awesome__thumbnails{display:none;}

.main__banner__single{aspect-ratio: 358 / 245;}

.footer__inr{padding-top:var(--spacing-160);}
.footer__menu{flex-direction:column; margin-top:var(--spacing-96);}
.footer__nav{display:flex; width:100%; align-items:flex-start; margin-top: var(--spacing-32);}
.footer__nav p{flex:1;}
.footer__nav .footer__nav__list{flex:1; margin-top:0px;}
.footer__copy{margin-top: var(--spacing-96);}

.c__select__line{gap:32rem 0;}
.c__news__list li{width:100%;}
.c__news__list__ttl{width:100%;}
.f__h2{font-size: 36rem;}
.c__txt__card li{padding-bottom:var(--spacing-64);}
.medium__block{padding-top:var(--spacing-64);}
.c__story__block__small__body{width:100%;}
.c__story__block__small__img{width:100%;}
.f__h3{font-size:24rem;}
.c__network__card{gap:var(--spacing-64) 0;}
.c__network__list{flex-basis:344rem; display:block;}
.c__sticky__nav{position:unset;}
.pc__none{display:none;}
.l__line__1__sp{width: calc(((100% - 24rem) / 4) * 1 + (0 * var(--grid-num))); margin:0 auto;}
.l__line__2__sp{width: calc(((100% - 24rem) / 4) * 2 + (1 * var(--grid-num))); margin:0 auto;}
.l__line__3__sp{width: calc(((100% - 24rem) / 4) * 3 + (2 * var(--grid-num))); margin:0 auto;}
.l__line__4__sp{width: calc(((100% - 24rem) / 4) * 4 + (3 * var(--grid-num))); margin:0 auto;}
.panel__child__1__pc,
.panel__child__2__pc,
.panel__child__3__pc,
.panel__child__4__pc,
.panel__child__5__pc,
.panel__child__6__pc,
.panel__child__7__pc,
.panel__child__8__pc,
.panel__child__9__pc,
.panel__child__10__pc,
.panel__child__11__pc,
.panel__child__12__pc{width: 100%;}
.panel__child__2__sp{width: calc((100% / 2) - (var(--grid-num) / 2));}
.panel__child__3__sp{width: calc((100% / 3) - (var(--grid-num) * 2 / 3));}
.panel__child__4__sp{width: calc((100% / 4) - (var(--grid-num) * 3 / 4));}
.camera__bf__view .slick-dots li{width: 6rem;}
.pc{display:none !important;}
.col__inr{width:100%;}
.md__section__anc__line p{font-size:16rem;}
.md__contents__col__wrap .col__txt__wrap p{font-size:16rem;}
.md__section__anc__line p{padding:0rem;}
.cat__title{font-size:10rem;}
.profile__col .interview__inr .interview__txt .name__col .name__tet{font-size:18rem;}
.pmd__line__ttl .sec__title{font-size:18rem;}
.sub__head{font-size:16rem;}
.cap__title{font-size:16rem;}
.member__name{font-size:18rem;}
.member__list{flex-wrap:wrap;gap: unset;}
.md__breadcrumb ul li{font-size:10rem;}
.container__wid__medium{max-width:100%;} 
}


@media screen and (max-width: 768px){
.cms__cts__idt{padding-left:calc(40 * var(--rs)); padding-right:calc(40 * var(--rs));}
.cms__main__title{font-size:calc(50 * var(--rs));}
.md__contents__detail__vismovie .slide__main .mask__wrap{width:100%; height:calc(500 * var(--rs));}

.page__multi__format .contents__seccol{padding-top:calc(120 * var(--rs)); padding-bottom:calc(120 * var(--rs));}
.page__multi__format .md__anchor__offset + .contents__seccol{padding-top: calc(118 * var(--rs));}
.woocommerce-account .woocommerce-MyAccount-navigation{width:100%;}
.woocommerce-custom-dashboard{margin-top: 0px !important;}
.woocommerce-account .woocommerce-MyAccount-content{width:100%;margin-top: 20rem;}
.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{background-color: transparent;}
/* .woocommerce table.shop_table tbody th{justify-content:space-between;} */
.woocommerce table.my_account_orders{max-width: 400px; margin:auto;}
/* .woocommerce table.shop_table tbody th:nth-child(1){border-top:0px;} */
.woocommerce-page table.shop_table_responsive tbody th {
    display: flex;
    justify-content: space-between;}
.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table {
        margin-bottom: var(--spacing-20);
}
.points__history table{font-size:10rem;}
 
}
